@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #d5d5d5;
}

#column-3 {
  background: #d5d5d5;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #333333 ;
  }

  #column-1 {
    width: 
    background-color: #cfe0e8 ;
  }

  #column-2 {
    background-color: #b7d7e8;
  }

  #column-3 {
    background-color: #87bdd8;
    width: 100%;
  }

  footer {
    background-color: #daebe8;
  }

  .col-3 {
    width: 33.3%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #a2b9bc;
  }

  #column-1 {
    background-color: #b2ad7f;
  }

  #column-2 {
    background-color: #878f99;
  }

  #column-3 {
    background-color: #6b5b95;
    width: 33.3%;
  }

  footer {
    background-color: #d6cbd3;
  }
  
  .col-3 {
    width: 33.3%;
  }
   
}
